<DOCTYPE! html>
  <html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>

  </head>

  <body>
    <img src="gallery/mail_logo.jpg" width="120px" height="120px" alt="logo" style="background:transparent;">

    <center>
      <div id="one">
        <p>GROW YOUR BUISNESS <br> WITH AUTOMAIL </p>
        <h3>Unlock OPPORTUNTIES </h3>
        <button id="start" onclick="location.href='login'"><b>Create Mail</b></button><br><br>
      </div>

      <div id="two">
        Provide Best Service To Your Customer.<br>
        Send Advertisement To All At One Click.
        <h6>All on &nbsp;&nbsp;automail.herokuapp.com</h6>
      </div>
    </center>
    <div class="grid">
      <div>
        <center>
          <img id="share" src="gif/share.gif" style="opacity:0.7" alt="share">
          <h1 id="giphy"> Share </h1>
          <span style="color:rgb(124, 146, 86);">SHARE AND GROW. </span>
        </center>
      </div>
      <div>
        <center>
          <img id="secure" src="gif/security.gif" alt="secure">
          <h1 id="giphy"> Security </h1>
          <span style="color:rgb(124, 146, 86);">YOUR DATA IS SECURE WITH US. </span>
        </center>
      </div>
    </div>
    <div id="follow">
      <center>
        Join us<br><br>
        <button id="start" onclick="location.href='login'" style="border-radius:30px;"><b>Get
            Started</b></button><br><br><br>
        Follow Us On
        <br>
        <a href="#"><dfn title="facebook"><img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"
              alt="facebook" /></dfn></a>&nbsp;&nbsp;
        <a href="#"><dfn title="instagram"><img src="https://img.icons8.com/bubbles/48/000000/instagram-new.png"
              alt="instagram" /></dfn></a>&nbsp;&nbsp;
        <a href="#"><dfn title="linkden"><img src="https://img.icons8.com/bubbles/48/000000/linkedin.png"
              alt="linkedin" /></dfn></a>&nbsp;&nbsp;
        <a href="#"><dfn title="twitter"><img src="https://img.icons8.com/bubbles/48/000000/twitter.png"
              alt="twitter" /></dfn></a>&nbsp;&nbsp;
        <br><br><br> <a href="aboutus">About Us | Team </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="user_blog">Blog
        </a>
      </center>
    </div>
  </body>

  </html>